body {
    background-color: rgb(0, 0, 0);
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #af17a8;
    padding: 20px;
    gap: 20px;
    width: 90%;
    max-width: 1o00px;
    background-color: #222;
    margin: 20px auto 50px auto;
    box-sizing: border-box;
    border-radius: 10px;
}
.text-box {
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0 10px;
}


@media (max-width: 800px) {
    .text-box {
        font-size: 1.1em;
    }
}

@media (max-width: 500px) {
    .text-box {
        font-size: 1em;
    }
}

.text-box h2 {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #c933b0;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #5e044a;
}

.image-box {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.image-box img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}