body{
    background-color: rgb(0, 0, 0);
        margin: 0;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    }
p {
    color:hotpink;
    font-family: Times New Roman (serif);
}
h4 {
    color:hotpink;
    font-family: Times New Roman (serif);
}
h2 {
    color:hotpink;
    font-family: Times New Roman (serif);
}
h3 {
    color:hotpink;
    font-family: Times New Roman (serif)
}

.nav-toggle {
  background-color: #3b012a;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  margin: 10px;
  font-size: 1rem;
  border-radius: 4px;
}

.nav-toggle:hover {
  background-color: #ec2323;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ff00c8bd;
  border: solid 5px;
  border-radius: 50px;
  border-color: #5e044a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul li {
  margin: 0;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #550536;
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
  }
}

.content {
  padding: 20px;
}

.content {
  padding: 20px;
}


.hidden {
  display: none;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.title-container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.title-container h1 {
  font-size: 2rem;
  color: #ee46a8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}
@media (max-width: 600px) {
  .title-container {
    flex-direction: column;
  }
  .title-container img {
    width: 60px;
    height: 60px;
  }
  .title-container h1 {
    font-size: 1.5rem;
  }
}
footer {
  margin: 1px;
  padding: px;
  display: flex;
  flex-direction: column;
}
.social-box {
  background-color: #ff00c8bd;
  padding: 10px;

  display: flex;
  justify-content: center;
  gap: 20px;
}
.copy-box {
  background-color: #f30ac0bd;
  margin: 5px red;
  padding: 10px;
  text-align: center;
}
.social-box img {
  width: 30px;
  height: 30px;
  border-radius: 0.5em;
  border: solid 2px #ff7ce3;
  padding: 3px;
}